._*
*.obj
*.log
*.tlog
*.pch
*.ipch
*.cache
*.pdb
*.user
*.metagen
.DS_Store
desktop.ini

.vs/
.vscode/
.idea/
build/
out/
CMakeSettings.json

bin/
bin-int/

*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

vendor/**/Binaries
vendor/**/bin
vendor/**/bin-int

